  <div class="column">
    <image class="ui fluid image yellow">
    </image>
  </div>
  <div class="column">
    <image class="ui fluid image yellow">
    </image>
  </div>
  <div class="column">
    <image class="ui fluid image yellow">
    </image>
  </div>
